.moc-filter {
	position: absolute;
	z-index: 2;
}

.moc-filer-tab {
	position: relative;
	width: 69px;
	height: 88px;
	margin-bottom: 2px;
	background: url(../img/text.png) 0 0 no-repeat;
}
.moc-filer-tab:last-child {
	margin-bottom: 0;
}

.moc-filer-tab div {
	position: relative;
	width: 96px;
	height: 80px;
	right: 50px;
	top: 5px;
	background: url(../img/buttons.png) 0 0 no-repeat;
}

.moc-filer-tab-layer {
	
}
.moc-filer-tab-layer div {
	
}
.moc-filer-tab-layer div:hover {
	background-position: 0 -80px;
}
.moc-filer-tab-layer.moc-filer-tab-layer-active div,
.moc-filer-tab-layer.moc-filer-tab-layer-active div:hover {
	background-position: 0 -160px;
}

.moc-filer-tab-addr {
	background-position: -69px 0;
}
.moc-filer-tab-addr div {
	background-position: -96px 0;
}
.moc-filer-tab-addr div:hover {
	background-position: -96px -80px;
}
.moc-filer-tab-addr.moc-filer-tab-addr-active div,
.moc-filer-tab-addr.moc-filer-tab-addr-active div:hover {
	background-position: -96px -160px;
}

.moc-filer-tab-oper {
	background-position: -138px 0;
}
.moc-filer-tab-oper div {
	background-position: -192px 0;
}
.moc-filer-tab-oper div:hover {
	background-position: -192px -80px;
}
.moc-filer-tab-oper.moc-filer-tab-oper-active div,
.moc-filer-tab-oper.moc-filer-tab-oper-active div:hover {
	background-position: -192px -160px;
}

.moc-filer-tab-serv {
	background-position: -207px 0;
}
.moc-filer-tab-serv div {
	background-position: -288px 0;
}
.moc-filer-tab-serv div:hover {
	background-position: -288px -80px;
}
.moc-filer-tab-serv.moc-filer-tab-serv-active div,
.moc-filer-tab-serv.moc-filer-tab-serv-active div:hover {
	background-position: -288px -160px;
}

.moc-filer-tab-date {
	background-position: -276px 0;
}
.moc-filer-tab-date div {
	background-position: -384px 0;
}
.moc-filer-tab-date div:hover {
	background-position: -384px -80px;
}
.moc-filer-tab-date.moc-filer-tab-date-active div,
.moc-filer-tab-date.moc-filer-tab-date-active div:hover {
	background-position: -384px -160px;
}