body > div:nth-of-type(2),
body > input[type="radio"] {
	display: none;
}

body > div:nth-of-type(3),
body > div:nth-of-type(4) {
	visibility: hidden;
	z-index: 0;
}

body > label {
	z-index: 3;
	top: 34px;
	margin-right: 30px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 147px;
	height: 43px;
	background: url(../img/tabs.png) 0 0 no-repeat;
}

body > label:nth-of-type(1) {
	margin-left: 60px;
}
body > input[type="radio"]:nth-of-type(1) + label {
	background-position: -147px 0;
}
body > input[type="radio"]:nth-of-type(2) + label {
	
}
body > input[type="radio"]:nth-of-type(1):checked + label {
	background-position: -441px 0;
}
body > input[type="radio"]:nth-of-type(2):checked + label {	
	background-position: -294px 0;
}

body > input[type="radio"]:nth-of-type(1):checked ~ div:nth-of-type(2) {
	display: block;
	z-index: 1;
}
body > input[type="radio"]:nth-of-type(2):checked ~ div:nth-of-type(3),
body > input[type="radio"]:nth-of-type(3):checked ~ div:nth-of-type(4) {
	visibility: visible;
	z-index: 1;
}