@import url(navigation-bar.css);
@import url(header.css);
@import url(filter.css);
@import url(folder.css);

html, body, div#moc-map-container, .map.container {
	height: 100%;
	margin: 0;
	padding: 0;
}

div#moc-map-container, div#moc-table-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;	
}

div#moc-map-container {
	top: 0;
}

div#moc-table-container {
	top: 80px;
}


.moc-operator {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	background: url(../img/operators.png) 0 0 no-repeat;
}
.moc-operator-any {
	
}
.moc-operator-yota {
	background-position: -20px 0;
}
.moc-operator-megafon {
	background-position: -40px 0;	
}
.moc-operator-beeline {
	background-position: -60px 0;	
}
.moc-operator-mts {
	background-position: -80px 0;	
}
.moc-operator-rtc {
	background-position: -100px 0;	
}